.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 14px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }

  .details {
    text-align: center;
  }
  p {
    margin: 0;
  }
}

.gc {
  width: 6rem;
  height: 6rem;
  border-radius: 14px;
  background: var(--neko-colors-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background: var(--neko-colors-primary);
}

.danger {
  background: var(--neko-colors-danger);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;

  button {
    height: 3rem;
    width: 100%;
    max-width: 6rem;
    font-size: 1.25rem;
  }
}
